.main-container {
    background-color: antiquewhite;
}

.my-app {
    text-align: center;
}

#name {
    margin-left: 20px;
}

#age {
    margin-left: 30px;
}

.submit {
    margin-top: 10px;
}

.first-row {
    margin-bottom: 10px;
}